PROJECT_NAME="Movie theater"
PROJECT_DESCRIPTION="The best movie theater for everyone"

DEBUG=True
SECRET_KEY=folaskdfjYHLHhjlhljkh7678yhlkjgkfkfgkjo
ALLOWED_HOSTS=localhost,127.0.0.1,[::1]

DJANGO_SUPERUSER_USERNAME=andrey
DJANGO_SUPERUSER_EMAIL=andrey@example.com
DJANGO_SUPERUSER_PASSWORD=123qwe

SQL_ENGINE=django.db.backends.postgresql_psycopg2
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
POSTGRES_DB=theatre

SQL_HOST=theatre-db
SQL_PORT=5432
SQL_OPTIONS=-c search_path=public,content
DATABASE_TYPE=postgres

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=123qwe
REDIS_DB=0

ES_HOST=elasticsearch
ES_PORT=9200
ES_SECURITY=false

ETL_BATCH_SIZE=100
ETL_ITERATION_SLEEP = 1
ETL_ES_INDEX=movies